{% extends '../base.html'%}
{% block content %}
    {% if funcionarios|length != 0%}
    <table>
        <thead>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereco</th>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.cargo}}</td>
                <td>{{funcionario.email}}</td>
                <td>{{funcionario.telefone}}</td>
                <td>{{funcionario.endereco}}</td>
                {% if user.is_staff %}
                <td><a href="{% url 'atualiza-funcionario' funcionario.id %}">Atualizar</a></td>
                <td><a href="{% url 'remove-funcionario' funcionario.id %}">Remover</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>Não há nenhum funcionario registrado!</p>
    {% endif %}

    {% if user.is_staff%}
        <a href="{% url 'cria-funcionario' %}">Registrar Novo Funcionario</a>
    {% endif %}

{% endblock %}