{% extends 'base.html' %}
{% block content %}
    <h1>Bem-Vindo ao Sistema de Lojas</h1>
    <p>
        Esse sistema web baseado em Django foi desenvolvido como parte de uma atividade avaliativa para o 3º Bimestre
        da disciplina de Desenvolvimento de Aplicações Web. A navegação por este pode ser realizado pelo header acima.
    </p>
    <p>
        O dominio deste sistema é de uma franquia de lojas genérico e as 6 entidades que o constituem são:
    </p>
    <ul>
        <li>Cliente</li>
        <li>Categoria de Produto</li>
        <li>Produto</li>
        <li>Pedido</li>
        <li>Departamento</li>
        <li>Funcionário</li>
    </ul>

    <p>Este sistema foi desenvolvido por:</p>
    <ul>
        <li>Carlos Adriano Dias Limeira </li>
        <li>Francisco Everton Maciel Rodrigueys</li>
        <li>Francisco Jaime de Araújo Mendes</li>
        <li>Isaque Carolino de Sousa Abreu</li>
        <li>Kayo Kennedy da Silva</li>
    </ul>
{% endblock %}