<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="username">
            Usuário:
            <input type="text" name="username">
        </label>
        <label for="email">
            Email:
            <input type="text" name="email">
        </label>
        <label for="password">
            Senha:
            <input type="password" name="password">
        </label>
        <button type="submit">Registrar-se</button>
    </form>
</body>
</html>